nav{
  height: 70px;
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  margin-top: -4px;
}


.nav-second ul {
display: flex;
}

.nav-second ul li a{
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-weight: 400;
  color: #1ac97a;
  font-weight: bolder;
}

.nav-second ul li a:hover{
  border-bottom: 2px solid #1ac97a;
}

